h1 {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 { color:lightpink;
font-size:60px;
font-family: }

body { background-color:#fef4f6; }

#Hobbies { background-color:white;}
p {color: lightpink;}