h1 {
  font-family: "Galada",
  font-weight: 400;
  font-style: normal;
}

h1 { color:lightpink;
font-size:60px; 
}
h2 {color: lightpink;font-family: "Galada"}
body { background-color:#ffffff; font-family: "Merriweather"}


#Hobbies { background-color:white;}
p {color: rgb(0, 0, 0);}

div.bg-pink {
  background-color: lightpink;
}
