h1 {
  font-family: "Galada", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 { color:lightpink;
font-size:60px;
font-family: ""}
h2 {color: lightpink;}
body { background-color:white; }

#Hobbies { background-color:white;}
p {color: lightpink;}

